version: 2.1

orbs:
  android: circleci/android@0.2.1

jobs:
  build:
    executor: android/android
    steps:
      - checkout
      - restore_cache:
          key: android-orb-v1-
      - run:
          name: Chmod permissions
          command: sudo chmod +x ./gradlew
      - run:
          name: Set Java 18
          command: |
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
      - run:
          name: Download Gradle 8.0
          command: |
            wget https://services.gradle.org/distributions/gradle-8.0-bin.zip -P /tmp
            unzip -q -d /opt /tmp/gradle-8.0-bin.zip
            export GRADLE_HOME=/opt/gradle-8.0
            export PATH=$GRADLE_HOME/bin:$PATH
            echo "Using Gradle $(gradle --version)"
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - run:
          name: Print BASEURL
          command: echo ${BASE_URL}
      - save_cache:
          key: 'android-orb-v1-{{ epoch }}'
          paths:
            - ~/.android/build-cache
            - ~/.android/cache
      - run:
          name: Run Build
          command: ./gradlew build
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - store_test_results:
          path: app/build/test-results
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: artifact-file
